.khan__quote {
  width: 790px;
  margin-top: 50px;
  margin-bottom: 36px;
  margin-left: 0;
  margin-right: 0;
  line-height: 34px;
  font-size: 24px;
  font-weight: normal;
  padding: 0;
  border: none;
}
