.footer__column-link {
  color: white;
  line-height: 30px;
  font-size: 18px;
  font-weight: normal;
  padding: 0;
  text-decoration: none;
  transition: opacity 0.3s linear 0.2s;
}

.footer__column-link:hover {
  opacity: 40%;
}
