.header__link {
  color: #2f80ed;
  line-height: 25px;
  font-size: 18px;
  padding: 0;
  text-decoration: none;
  transition: opacity 0.3s linear 0.2s;
}

.header__link::after {
  content: "\2192";
}

.header__link:hover {
  opacity: 40%;
}
