.header__subtitle {
  min-width: 388px;
  position: absolute;
  line-height: 25px;
  font-size: 18px;
  bottom: 30px;
  left: 64px;
  font-weight: normal;
  margin: 0;
  padding: 0;
  z-index: 3;
  white-space: pre-line;
}
