.kaufman__triangle {
  background-image: url(../../../images/kaufman-triangle.svg);
  position: absolute;
  width: 877px;
  height: 877px;
  right: -210px;
  top: 0;
  background-repeat: no-repeat;
  background-size: contain;
  z-index: -1;
  background-position: center;
}
