.header__title {
  min-width: 730px;
  text-align: left;
  line-height: 96px;
  font-size: 102px;
  color: black;
  font-weight: bold;
  z-index: 3;
  align-self: center;
  margin: 0;
  margin-left: 64px;
  padding: 0;
  white-space: pre-line;
}
