.header__title {
  width: 730px;
  text-align: left;
  line-height: 96px;
  font-size: 102px;
  margin-left: 64px;
  color: black;
  font-weight: bold;
  z-index: 3;
  align-self: center;
  padding: 0;
  margin-top: 0;
  margin-bottom: 0;
}
