h1, h2, h3, div, img,p, section{
  border: 1px solid red;
  margin:0;}

.page {
  min-width: 1100px;
  /* мы ещё не умеем делать мобильную версию сайта, */
  /* поэтому выше установлена минимальная ширина страницы */
  max-width: 1600px;
  /* выше установили ограничение по максимальной ширине */
  margin: 0 auto;
  /* выше для экранов больше 1600px отцентрировали весь контент */
  font-family: 'Helvetica Neue', Arial, sans-serif;
}

.header {
  display: flex;
  height: 100vh;
  min-height: 600px;
  max-height: 756px;
  position: relative;
  background-color: #f2f2f2;
  overflow: hidden;
}
  /* выше установили ограничения для секции */

/* ниже мы привели пример двух селекторов, чтобы вы вспомнили запись элемента */
/* и элемента с модификатором вида ключ-значение */

.logo {
  background-image: url(/images/logo_place_header.svg);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}
.logo__place_header {
  width: 183px;
  height: 32px;
  position: absolute;
  left: 64px;
  top: 30px;
  order: 1;
}

 .header__title {
  display: flex;
  margin: auto;
  width: 730px;
  text-align: left;
  line-height: 96px;
  font-size: 102px;
  margin-left: 64px;
  color: black;
  font-weight: bold;
  z-index: 3;
}

.header__square-pic {
  position: absolute;
  background-color: #2f80ed;
  width: 568px;
  height: 568px;
  top: 64px;
  right: 0;
  z-index: 1;
}
  .header__illustration {
  position: absolute;
  width: 765px;
  height: 608px;
  right: 0;
  bottom: 0;
  max-width:50%;
  z-index: 2;
  }
.header__subtiile {
  position: absolute;
  line-height:25px;
  font-size:18px;
  bottom:30px;
  left:64px;
  width:388px;
  font-weight: normal;
}
.header_link::after {
  content:'\2192';
}
 a {
  text-decoration: none;
 }
 .description {
  margin-top:100px;
 }
  .description p {
  margin-top:0;
 }
 .two-colomns__span-accent {
  font-size: 24px;
  font-weight: 600;
  line-height: 34px;
 }
.two-colomns {
  display: flex;
  width: 80%;
  justify-content: space-between;
  margin: 0 auto;
  position: relative;
}
.two-colomns__brief {
  line-height: 1.2;
  font-size: 18px;
  color: #2f80ed;
  width: 175px;
  font-weight: normal;
  margin-top:0;
}
.two-colomns__main-text {
  width: 80%;
  min-width: 784px;
  display:flex;
  flex-direction: column;
  justify-content: space-between;
}
.two-colomns__paragraph {
  font-size:24px;
  line-height:34px;
  margin-top:30px;
  margin-bottom:30px;
  font-weight: normal;
}
p:last-child {
  margin-bottom: 0;
}
.digits {
  margin-top:100px;
  margin-bottom: 100px;
}
.section-title {
 width: 60%;
 line-height: 1.15;
 font-size:60px;
 font-weight: bold;
 margin-left:auto;
 margin-right:auto;
 text-align: center;
 margin-bottom:20px;
}
.section-subtitle {
  width: 60%;
  line-height: 34px;
  font-size:24px;
  text-align: center;
  margin-left:auto;
  margin-right:auto;
}
.table {
  width: 1100px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 0;
  margin-bottom: 0;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  position: relative;
  padding: 0;
}
.table__cell {
  list-style: none;
  min-height:5px;
  margin-top: 60px;
  width: 250px;
}
.table__heading {
  line-height: 1.15;
  font-size: 24px;
  font-weight: bold;
}
.table__text {
  line-height: 1.2;
  font-size: 18px;
  font-weight: normal;
  margin-top: 20px;
}

.feynman {
  height: 890px;
  background: #f2f2f2 url(../images/feynman.png);
  background-size: 867px 637px;
  background-position: left bottom;
  background-repeat: no-repeat;
  position: relative;
  padding-top:100px;
  padding-bottom: 0;
}
.feinmann-title {
  line-height: 1.15;
  font-size: 120px;
  font-weight: bold;
  margin-left: auto;
  margin-right: auto;
  margin-top: 0;
  text-align: center;
  width:648px;
  margin-bottom:70px;
}
.feinmann-subtitle {
  line-height: 51px;
  font-size: 36px;
  font-weight: normal;
  margin-left: auto;
  margin-right: auto;
  margin-top: 0;
  text-align: center;
}
.feinmann-link {
  line-height: 51px;
  font-size: 36px;
  font-weight: normal;
  position: absolute;
  top:50%;
  right: 48px;
}
.feinmann-link::after {
  content:'\2192';
}

.kaufman {
  background-color: #1f1f1f;
  padding-top: 90px;
  padding-bottom: 90px;
  position: relative;
  overflow: hidden;
  color: white;
  z-index: 1;
}
.section__title_theme_dark {
  color: white;
}
.section__subtitle_theme_dark {
  color: white;
}
.table__cell_theme_dark{
width: 200px;
margin-top: 0;
border: 0;
}
.table__heading_theme_dark{
  color: white;
  padding-top: 80px;
}
.table__text_theme_dark {
  color: white;
}
.kaufman-triangle {
 background-image: url(../images/kaufman-triangle.svg);
 position: absolute;
 width: 877px;
 height: 877px;
 right:-210px;
 top: 0;
 background-repeat: no-repeat;
 background-size: contain;
 z-index: -1;
 background-position: center;
}
