/*h1,
h2,
h3,
div,
img,
p,
section {
 /* border: 1px solid red; */
  /* margin: 0;*/

.page {
  min-width: 1100px;
  /* мы ещё не умеем делать мобильную версию сайта, */
  /* поэтому выше установлена минимальная ширина страницы */
  max-width: 1600px;
  /* выше установили ограничение по максимальной ширине */
  margin: 0 auto;
  /* выше для экранов больше 1600px отцентрировали весь контент */
  font-family: "Helvetica Neue", Arial, sans-serif;
}

.header {
  display: flex;
  height: 100vh;
  min-height: 600px;
  max-height: 756px;
  position: relative;
  background-color: #f2f2f2;
  overflow: hidden;
}
/* выше установили ограничения для секции */

/* ниже мы привели пример двух селекторов, чтобы вы вспомнили запись элемента */
/* и элемента с модификатором вида ключ-значение */

.logo {
  background-image: url(../images/logo_place_header.svg);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}

.logo_place_header {
  width: 183px;
  height: 32px;
  position: absolute;
  left: 64px;
  top: 30px;
  order: 1;
}

.header__title {
  width: 730px;
  text-align: left;
  line-height: 96px;
  font-size: 102px;
  margin-left: 64px;
  color: black;
  font-weight: bold;
  z-index: 3;
  align-self: center;
  padding: 0;
  margin-top: 0;
  margin-bottom: 0;
}

.header__square-pic {
  position: absolute;
  background-color: #2f80ed;
  width: 568px;
  height: 568px;
  top: 64px;
  right: 0;
  z-index: 1;
}

.header__main-illustration {
  position: absolute;
  background-size: cover;
  width: 765px;
  height: 608px;
  right: 0;
  bottom: 0;
  z-index: 2;
}

.header__subtitle {
  position: absolute;
  line-height: 25px;
  font-size: 18px;
  bottom: 30px;
  left: 64px;
  width: 388px;
  font-weight: normal;
  margin: 0;
  padding: 0;
  z-index: 3;
}

.header__link {
  color: #2f80ed;
  line-height: 25px;
  font-size: 18px;
  padding: 0;
  text-decoration: none;
}

.header__link::after {
  content: "\2192";
}

.description {
  margin-top: 100px;
}

.two-columns__span-accent {
  font-size: 24px;
  font-weight: 700;
  line-height: 34px;
}

.two-columns {
  display: flex;
  width: 80%;
  justify-content: space-between;
  margin: 0 auto;
  position: relative;
}

.two-columns__brief {
  line-height: 1.2;
  font-size: 18px;
  color: #2f80ed;
  width: 175px;
  font-weight: normal;
  margin-top: 0;
  margin: 0;
}

.two-columns__main-text {
  width: 80%;
  min-width: 784px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.two-columns__paragraph {
  font-size: 24px;
  line-height: 34px;
  margin-top: 0;
  margin-bottom: 30px;
  font-weight: normal;
  padding: 0;
}

.two-columns__paragraph:last-child {
  margin-bottom: 0;
}

.techniques {
  width: 80%;
  margin-right: auto;
  margin-left: auto;
  margin-top: 100px;
  margin-bottom: 0;
}

.cards {
  display: flex;
  flex-wrap: wrap;
  max-width: 920px;
  margin-right: auto;
  margin-left: auto;
  margin-top: 0;
  margin-bottom: 0;
  position: relative;
  list-style: none;
  padding: 0;
  gap: 100px;
}

.cards__item {
  margin-top: 60px;
  padding: 0;
  width: 240px;
}

.cards__item:nth-of-type(3n) {
  margin-right: 0;
}

.cards__title {
  line-height: 1.15;
  font-size:24px;
  font-weight: bold;
  margin-top:43px;
  margin-bottom:16px;
  text-align: center;
}

.cards__description {
  margin-top:16px;
  margin-bottom: 0;
  line-height: 23px;
  font-size:18px;
  text-align: center;
  font-weight: normal;
}

.cards__image {
  width: 160px;
  height: 160px;
  border-radius: 50%;
  margin-right: 40px;
  margin-left: 40px;
  margin-top: 0;
  margin-bottom: 0px;
}

.digits {
  margin-top: 100px;
  margin-bottom: 100px;
}

.section-title {
  width: 60%;
  line-height: 1.15;
  font-size: 60px;
  font-weight: bold;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  margin-top: 0;
  margin-bottom: 20px;
  padding: 0;
}

.section-subtitle {
  width: 60%;
  line-height: 34px;
  font-size: 24px;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  margin-top: 0;
  margin-bottom: 0;
  padding: 0;
}

.table {
  width: 1100px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 0;
  margin-bottom: 0;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  position: relative;
  padding: 0;
}

.table__cell {
  list-style: none;
  min-height: 5px;
  margin-top: 60px;
  width: 250px;
}

.table__heading {
  line-height: 1.15;
  font-size: 24px;
  font-weight: bold;
  padding: 0;
  margin: 0;
}
.table__text {
  line-height: 1.2;
  font-size: 18px;
  font-weight: normal;
  margin-top: 20px;
  margin-bottom: 0;
  padding: 0;
}

.feynman {
  height: 890px;
  background: #f2f2f2 url(../images/feynman.png);
  background-size: 867px 637px;
  background-position: left bottom;
  background-repeat: no-repeat;
  position: relative;
  padding-bottom: 0;
}

.feynman__title {
  line-height: 1.15;
  font-size: 120px;
  font-weight: bold;
  margin-left: auto;
  margin-right: auto;
  margin-top: 0;
  text-align: center;
  width: 648px;
  margin-bottom: 70px;
  padding: 0;
  padding-top: 100px;
}

.feynman__subtitle {
  line-height: 51px;
  font-size: 36px;
  font-weight: normal;
  margin-left: auto;
  margin-right: auto;
  margin-top: 0;
  margin-bottom: 0;
  text-align: center;
  padding: 0;
}

.feynman__link {
  line-height: 51px;
  font-size: 36px;
  font-weight: normal;
  position: absolute;
  top: 50%;
  right: 48px;
  color: #2f80ed;
  padding: 0;
  text-decoration: none;
}

.feynman__link::after {
  content: "\2192";
}

.kaufman {
  background-color: #1f1f1f;
  padding-top: 90px;
  padding-bottom: 90px;
  position: relative;
  overflow: hidden;
  color: white;
  z-index: 1;
}

.section-title_theme_dark {
  color: white;
}

.section-subtitle_theme_dark {
  color: white;
}

.table__cell_theme_dark {
  width: 200px;
  margin-top: 0;
  border: 0;
}

.table__heading_theme_dark {
  color: white;
  padding-top: 80px;
}

.table__text_theme_dark {
  color: white;
}

.kaufman__triangle {
  background-image: url(../images/kaufman-triangle.svg);
  position: absolute;
  width: 877px;
  height: 877px;
  right: -210px;
  top: 0;
  background-repeat: no-repeat;
  background-size: contain;
  z-index: -1;
  background-position: center;
}

.footer {
  display: flex;
  background-color: #1f1f1f;
  min-height: 350px;
  justify-content: center;
}

.footer__columns {
  width: 90%;
  display: flex;
  margin-left: auto;
  margin-right: auto;
  flex-direction: row;
  justify-content: space-between;
  border: 0;
  padding-top: 60px;
  padding-bottom: 40px;
}

.footer__column {
  display: flex;
  flex-direction: column;
  margin-top:0;
  margin-bottom:0;
  margin-left:0;
  margin-right:0;
}

.footer__column_content_copyright {
  display: flex;
  flex-basis: 711px;
  justify-content: space-between;
}

.logo_place_footer {
  display: flex;
  width: 183px;
  height: 35px;
  background-image: url(../images/logo_place_footer.svg);
  left: 0;
  top: 0;
  border: 0;
}

.footer__author {
  display: flex;
  line-height: 25px;
  font-size: 18px;
  margin-bottom: 18px;
  margin-top: 18px;
  margin-right: 0;
  bottom: 0;
  left: 0;
  font-weight: normal;
  color: white;
  padding: 0;
}

.footer__social-icon {
  background-size: contain;
  position: relative;
  width: 16px;
  height: 16px;
  margin-right: 10px;
}

.footer__column_content_info {
  color: white;
  margin: 0;
}

.footer__column_content_social {
  color: white;
  margin: 0;
}

.footer__column-heading {
  line-height: 30px;
  font-size: 18px;
  font-weight: bold;
  margin-bottom: 0px;
  margin-top: 0;
  padding: 0;
}

.footer__column-links {
  line-height: 30px;
  font-size: 18px;
  font-weight: normal;
  margin-bottom: 16px;
  list-style-type: none;
  padding: 0;
}

.footer__column-link {
  color: white;
  line-height: 30px;
  font-size: 18px;
  font-weight: normal;
  padding: 0;
  text-decoration: none;
}
