.khan__buy-link {
  line-height: 42px;
  font-size: 30px;
  font-weight: normal;
  margin-left: 48px;
  color: #2f80ed;
  text-decoration: none;
  transition: opacity 0.3s linear 0.2s;
}

.khan__buy-link::after {
  content: "\2192";
}

.khan__buy-link:hover {
  opacity: 40%;
}
